<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../../../src/assets/images/logos/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../../src/assets/css/views/test.css" />
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script type="module" src="index.js"></script>
    <title>SimulaOn - Teste</title>
  </head>

  <body>
    <header>
      <div class="logo-container">
        <a class="logo" href="/index.html">
          <span>S</span>
        </a>
        <div class="logo-extended"><span>imula</span><span>ON</span></div>
      </div>
    </header>
    <main>
      <div id="TestContainer"></div>
      <div id="ResultsContainer" class="resultsContainer">
        <div id="pieChart"></div>
        <div id="columnChart"></div>
      </div>
    </main>
    <div class="progress-area">
      <div class="progress-bar"></div>
      <div class="progress-tooltip">Penes</div>
    </div>
    <footer>
      <div class="credits">
        <a href="../../../src/views/credit-card/credit.html#eduardomoreira"
          >Eduardo Moreira</a
        >
        <a href="../../../src/views/credit-card/credit.html#luizcarlos">
          Luiz Carlos</a
        >
        <a href="../../../src/views/credit-card/credit.html#mateuspereira"
          >Matheus Pereira</a
        >
      </div>
      <div class="external-logos">
        <a href="https://www.cps.sp.gov.br/" target="blank">
          <img
            src="../../../src/assets/images/logos/cps-low-logo.png"
            alt="Logo Centro Paula Souza"
          />
        </a>
        <a
          target="blank"
          href="https://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/"
        >
          <img
            src="../../../src/assets/images/logos/fatec-low-logo.jpg"
            alt="Logo Fatec (Faculdade de Tecnologia do Estado de São Paulo)"
          />
        </a>
        <a href="https://www.saopaulo.sp.gov.br/" target="blank">
          <img
            src="../../../src/assets/images/logos/sp-low-log.png"
            alt="Logo Governo do estado de São Paulo"
          />
        </a>
      </div>
    </footer>
    <div class="group-message">
      <span>Feito com muito</span>
      <span class="heart-beat">❤️</span>
      <span>pela equipe 4.</span>
    </div>
  </body>
</html>
