.pagination {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    justify-content: space-between;
}

.pagination>button:hover{
    background-color: var(--primary-blue) !important;
    color: var(--primary-white);
    transform: scale(1.1);
}

.pagination>button{
    transition: background 100ms linear;
    transition: transform 100ms linear;
}

.pagination-button {
    border: 0;
    border-radius: 80%;
    background-color: var(--primary-white);
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

.current-page {
    color: var(--primary-white) !important;
    background-color: var(--primary-blue) !important;
    font-weight: bold;
}

.pagination-numbers{
    display: flex;
    gap: 0.5rem;
}