<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="shortcut icon" href="/src/assets/images/logos/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/src/assets/css/views/credits.css" />
    <link rel="stylesheet" href="/src/assets/css/themes/all.css" />
    <title>SimulaOn</title>
</head>

<body>
    <a class="back-button" href="/index.html"><h1>Voltar</h1></a>
    <div class="card">
        <div class="card-bio">
            <div id="card-background" class="card-background"> </div>
            <div class="card-content">
                <img id="imgPerfil">
                <h1 id="nameContainer"></h1>
                <p id="quotePerfil"></p>
                <small id="quoteFrom"></small>
            </div>
        </div>
        <div id="card-links" class="card-links">
        </div>
    </div>
    <script type="module" src="index.js"></script>
</body>

</html>