@import url("../themes/all.css");

.container-chart {
  height: fit-content;
  width: 60%;
  margin: 0 auto;
}
.container-chart g {
  cursor: help;
}
@media screen and (max-width: 800px) {
  .container-chart {
    width: 100%;
  }
}
