@import url(../themes/all.css);

body {
  background-color: var(--primary-white);
}
a {
  color: var(--secondary-black);
  text-decoration: none;
}
a:visited {
  color: var(--secondary-black);
}

.header-container {
  display: grid;
  grid-template: auto 1fr/ 1fr;
  width: 100%;
  height: fit-content;
  padding: 0 0.5rem;
  background-color: var(--secondary-black);
}
.header-container .title {
  color: var(--primary-white);
}
.header-container .container-text {
  color: var(--secondary-white);
}
.header-nav {
  font-size: 1rem;
  grid-row: 1;
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  padding-bottom: 0.3rem;
  justify-self: center;
  border-bottom: 2px solid var(--primary-orange);
}
.header-nav > li {
  position: relative;
  display: flex;
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 15px;
  font-weight: 600;
  background-color: var(--secondary-white);
  transition: background 0.4s;
}
.header-nav > li:hover {
  background-color: var(--primary-orange);
}

.container {
  height: fit-content;
  position: relative;
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: justify;
  font-size: 1rem;
  color: var(--primary-blue);
  margin: 0 auto;
}

.title {
  padding: 1rem 0;
  font-size: 2rem;
  color: var(--primary-orange);
  text-align: center;
  font-weight: bold;
}

.text-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container-text {
  width: 75%;
  max-width: 500px;
  place-self: center;
}
.container-text > span {
  font-weight: 500;
  font-size: 2rem;
  color: var(--primary-orange);
}
.container-img {
  height: 50%;
  max-height: 450px;
  z-index: 1;
}

.header-container > .container::after {
  content: "";
  place-self: center;
  position: absolute;
  border-radius: 50%;
  height: 50%;
  max-height: 300px;
  width: 40%;
  max-width: 500px;
  background-color: var(--primary-orange);
  transform: rotate(105deg);
  z-index: 0;
}
.exam-btn {
  margin-top: 0.3rem;
  color: var(--primary-white);
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 24px;
  background-color: var(--primary-orange);
  padding: 1rem;
  transition: background 0.2s;
}
.exam-btn:visited {
  color: var(--primary-white);
}
.exam-btn:hover {
  background-color: var(--primary-green);
}

footer {
  padding: 1rem;
  background-color: var(--secondary-black);
  width: 100%;
  display: flex;
  flex-direction: column;
}
footer > h3 {
  grid-column: 1;
  grid-row: 1;
  place-self: center;
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-orange);
}
.credit-list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.credit-list > ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  place-self: center;
  font-weight: 600;
}
.credit-list > ul > li {
  text-align: center;
  border-radius: 10px;
  padding: 0.5rem;
  transition: background 0.4s;
  background-color: var(--secondary-white);
}
.credit-list > ul > li:hover {
  background-color: var(--primary-orange);
  color: var(--primary-orange);
}

.footer-nav {
  background-color: var(--secondary-white);
  list-style: none;
  display: flex;
  place-content: center;
  margin: 0 auto;
  border-radius: 24px;
  place-self: center;
}
.footer-nav li {
  padding: 0 0.4rem;
}
.footer-nav > li > a > img {
  height: 100px;
  width: 75%;
}

@media screen and (min-width: 900px) {
  .header-container > .container::after {
    transform: rotate(15deg);
  }
  header > .container {
    justify-content: start;
    flex-direction: column;
  }

  .container {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }

  footer {
    flex-direction: row;
    align-content: center;
  }
  .credit-list {
    width: 50%;
  }
  .footer-nav {
    width: fit-content;
  }
}
