@import url(../themes/all.css);

body {
  background-color: var(--tertiary-themeColor);
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary-themeColor);
}
a {
  color: var(--primary-themeColor);
  text-decoration: none;
}
a:visited {
  color: var(--tertiary-themeColor);
}
@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(239, 11, 11, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@keyframes pencil {
  0% {
    transform: rotate(-45deg);
    bottom: 0;
  }
  25% {
    transform: rotate(-35deg);
    bottom: 5px;
  }
  50% {
    transform: rotate(-25deg);
    bottom: 10px;
  }
  75% {
    transform: rotate(-15deg);
    bottom: 15px;
  }
  100% {
    transform: rotate(0deg);
    bottom: 50px;
    z-index: 1;
  }
}

.header-container {
  display: grid;
  grid-template: auto 1fr/ 1fr;
  width: 100%;
  background-color: var(--secondary-themeColor);
}
.header-container > .container {
  position: relative;
}

.header-container > .container::after {
  content: "";
  place-self: center;
  position: absolute;
  border-radius: 50%;
  height: 50%;
  max-height: 300px;
  width: 40%;
  max-width: 500px;
  background-color: var(--primary-themeColor);
  transform: rotate(105deg);
  z-index: 0;
}
.header-container .title {
  color: var(--primary-themeColor);
}
.header-container .container-text {
  color: var(--secondary-themeColor);
}
.header-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 2rem;
  margin-top: 1rem;
  padding-bottom: 0.3rem;
  padding-right: 1rem;
}
.logo-container {
  padding: 1rem;
  display: flex;
  align-items: center;
  color: var(--tertiary-themeColor);
}
.logo-slide {
  display: none;
  align-items: inherit;
  overflow: hidden;
}
.logo-slide p {
  position: relative;
  right: 500px;
  transition: right 0.8s ease-in, display 0.8s;
}
.logo-slide span {
  position: relative;
  right: 500px;
  transition: right 0.8s ease-in;
}
.logo-container:hover .logo-slide p {
  right: 0;
}
.logo-container:hover .logo-slide span {
  right: 0;
}
.logo-container:hover > p > span {
  animation: fadeIn 0.8s forwards;
}
.logo-container p {
  color: var(--primary-themeColor);
  font-size: 4.5rem;
  font-weight: 700;
  position: relative;
}
.logo-container p:nth-child(1) {
  color: var(--tertiary-themeColor);
  font-size: 6rem;
}
.logo-container p > span {
  position: absolute;
  color: var(--primary-themeColor);
  background-color: var(--primary-themeColor);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  animation: pulse 2s infinite;
}
.logo-container span {
  font-size: 2.5rem;
}
.header-nav {
  grid-row: 1;
}
.header-nav ul {
  gap: 0.5rem;
}
.header-nav li {
  cursor: pointer;
  padding: 0.4rem;
  text-align: center;
  font-weight: 500;
  background-color: var(--secondary-white);
  transition: background 0.4s, border 0.4s;
  border-bottom: 2px solid var(--primary-themeColor);
}
.header-nav li:hover {
  border-radius: 10px;
  background-color: var(--primary-themeColor);
}

.container {
  background-color: var(--tertiary-themeColor);
  margin: 1rem 0;
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: justify;
  font-size: 1rem;
}
.exam-container {
  position: relative;
  width: 300px;
  place-self: center;
  display: flex;
}
.exam-container img {
  height: 200px;
  width: 200px;
}
.exam-container img:nth-child(2) {
  height: 200px;
  width: 130px;
  position: absolute;
  transform: rotate(-45deg);
  right: 20px;
  z-index: 0;
}
.exam-container > div {
  position: relative;
  display: flex;
}
.exam-btn {
  place-self: center;
  color: var(--tertiary-themeColor);
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 24px;
  background-color: var(--primary-themeColor);
  padding: 1rem;
  height: 40px;
  width: 140px;
  right: -10px;
  position: absolute;
  transition: all 0.2s;
  z-index: 1;
}
.exam-btn:visited {
  color: var(--tertiary-themeColor);
}
.exam-btn:hover {
  background-color: var(--primary-themeColor);
  color: var(--secondary-themeColor);
}
.exam-container:hover img:nth-child(2) {
  animation: pencil 0.2s forwards;
}
.title {
  padding: 1rem 0;
  font-size: 2rem;
  color: var(--primary-themeColor);
  text-align: center;
  font-weight: bold;
}

.text-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-themeColor);
  box-shadow: 3px 9px 15px 5px var(--secondary-themeColor);
  padding: 0.5rem;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.text-wrap .title {
  color: var(--second-themeColor);
}
.container-text {
  max-width: 500px;
  place-self: center;
}
.container-text > span {
  font-weight: 500;
  font-size: 2rem;
  color: var(--second-themeColor);
}
.container-img {
  height: 40%;
  max-height: 450px;
  z-index: 1;
}

footer {
  background-color: var(--secondary-themeColor);
  display: flex;
  flex-direction: column;
}
footer > h3 {
  grid-column: 1;
  grid-row: 1;
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-orange);
}
footer > p {
  color: var(--secondary-themeColor);
  font-size: 1rem;
  font-weight: 700;
  text-align: end;
  padding: 1rem;
  width: 100%;
  height: 40px;
  background-color: var(--primary-themeColor);
}

footer > p span {
  color: red;
  animation: pulse-red 2s infinite;
  border-radius: 50%;
}

.credit-list {
  display: flex;
  flex-direction: column;
}
.credit-list nav {
  display: flex;
  align-self: center;
  place-self: center;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.credit-list > ul {
  font-weight: 600;
}
.credit-list > nav > ul > li {
  text-align: end;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem;
}

.credit-list p {
  width: 40%;
  color: var(--tertiary-themeColor);
}
.credit-list li:hover p {
  color: var(--primary-themeColor);
}
.credit-list img {
  height: 30px;
  width: 30px;
  filter: invert(99%) sepia(2%) saturate(7389%) hue-rotate(188deg)
    brightness(129%) contrast(96%);
  cursor: pointer;
}
.credit-list img:hover {
  filter: invert(55%) sepia(99%) saturate(1173%) hue-rotate(93deg)
    brightness(104%) contrast(91%);
}
.footer-nav {
  list-style: none;
  display: flex;
  place-content: center;
  margin: 0 auto;
  border-radius: 24px;
  place-self: center;
  gap: 0.8rem;
  margin-bottom: 1rem;
}
.footer-nav li {
  background-color: var(--tertiary-themeColor);
  padding: 0 0.4rem;
  width: 100%;
  border-radius: 12px;
}

.footer-nav li > a {
  display: flex;
  align-items: center;
}
.footer-nav > li > a > img {
  height: 100px;
  width: 75%;
  margin: 0 auto;
}

@media screen and (min-width: 900px) {
  .header-container > .container::after {
    transform: rotate(15deg);
  }
  header > .container {
    justify-content: start;
    flex-direction: column;
  }

  .header-nav ul {
    display: flex;
  }

  .logo-slide {
    display: inherit;
  }
  .container {
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
  }

  footer {
    align-content: center;
  }
  footer > div {
    display: flex;
    flex-direction: row;
    padding-right: 5rem;
  }
  .credit-list {
    width: 50%;
  }
  .footer-nav {
    width: fit-content;
  }
}
