@import url(../themes/all.css);

.group-message {
  background-color: var(--primary-themeColor);
  height: 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  user-select: none;
}

.heart-beat {
  animation: heart-beat 1.5s infinite both;
}

a,
a:visited,
a:link {
  text-decoration: none;
  color: inherit;
}

header {
  color: var(--tertiary-themeColor);
  height: 6rem;
}

.logo-container {
  font-size: 5rem;
  background-color: var(--secondary-themeColor);
  display: flex;
  padding: 0.5rem 0rem;
}

.logo {
  padding: 0rem 0rem 0rem 5rem;
  background-color: inherit;
  font-weight: bold;
  z-index: 1;
  user-select: none;
  cursor: pointer;
}

.logo:visited,
.logo:link,
.logo:active,
.logo:visited {
  color: var(--tertiary-themeColor);
  text-decoration: none;
}

.logo > span {
  font-family: "lemon-milk";
}

.logo::after {
  position: absolute;
  content: "";

  top: 0.5rem;
  left: 5rem + 1rem;

  width: 1.5rem;
  height: 1.5rem;

  border-radius: 100%;
  background-color: var(--primary-themeColor);

  transition: opacity 250ms linear;
  transition-delay: 0s 5s;
  animation: pulse-green 1s infinite;
}

.logo:hover::after {
  opacity: 0;
}

.logo-extended {
  transform: translateX(-110%);
  transition: transform 300ms;
  z-index: 0;
}
.logo-extended > span {
  font-family: "lemon-milk";
}
.logo-extended :nth-child(1) {
  font-weight: 700;
  font-size: 4rem;
}

.logo-extended :nth-child(2) {
  font-weight: 700;
  color: var(--primary-themeColor);
  animation: pulseText-green 1.5s infinite ease-in-out both alternate;
}

.logo:hover + .logo-extended {
  transform: translateX(0%);
  display: inline;
}

footer {
  background-color: var(--secondary-themeColor);
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 6.5rem;
}

.credits {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  color: var(--tertiary-themeColor);
  gap: 0.25rem;
}

.credits a {
  width: fit-content;

  background-image: linear-gradient(
    var(--primary-themeColor),
    var(--primary-themeColor)
  );
  background-size: 0% 15%;
  background-position: 0 110%;
  background-repeat: no-repeat;
  transition: background-size 150ms;
}

.credits a:hover {
  color: var(--primary-themeColor);
  background-size: 100% 15%;
}

.external-logos {
  display: inline-flex;
  gap: 1rem;
}

.external-logos a img {
  height: 5rem;
  background-color: var(--tertiary-themeColor);
  border-radius: 8px;
  padding: 3px;
  transition: transform 150ms;
}

.external-logos a img:active {
  transform: scale(0.9);
}

main {
  height: calc(100vh - 14.5rem);
  width: 100%;
  display: grid;
  grid-template-columns: 100% 50%;
  grid-template-rows: 100%;
  transition: grid-template-columns 600ms ease-in;
  overflow: hidden;
}
.resultsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}
#TestContainer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: scroll;
  width: 100%;
}

.question {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, max-content);
  /* border: 1px solid var(--secondary-themeColor); */
  box-shadow: 1px 0 5px var(--secondary-themeColor);
  border-radius: calc(1rem / 2);
  height: max-content;
}

.question .question-text {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-top-left-radius: calc(1rem / 2);
  border-top-right-radius: calc(1rem / 2);
  color: var(--tertiary-themeColor);
  gap: 1rem;
  background-color: var(--secondary-themeColor);
}

.question-text h1 {
  width: 2rem;
  height: 2rem;
  top: 1rem;
  background-color: var(--primary-themeColor);
  border-radius: calc(1rem / 4);
  text-align: center;
  position: absolute;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-text p:first-of-type {
  margin-top: 1rem !important;
  text-indent: 2.25rem !important;
}

.question .question-answer {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  list-style: none;
  list-style-position: inside;
  counter-reset: ABCD;
}

.question .question-answer li:before {
  content: counter(ABCD, upper-alpha) ".";
  counter-increment: ABCD;
  margin-right: 0.25rem;
  font-weight: bold;
}

.question .question-answer li input {
  margin-right: 0.25rem;
}

.question small {
  text-align: right;
  padding: 1rem;
  color: rgba(0, 0, 0, 0.5);
}

.statistic {
  margin: 0 auto;
}
.progress-area {
  position: relative;
  height: 0.5rem;
  background-color: var(--secondary-themeColor);
}

.progress-bar {
  background-color: var(--primary-themeColor);
  height: 100%;
  transition: all 300ms;
  border-top-right-radius: calc(0.5rem / 4);
  border-bottom-right-radius: calc(0.5rem / 4);
}

.progress-tooltip {
  position: absolute;
  top: -4rem;
  left: calc(50% - (26rem / 2));
  background-color: var(--tertiary-themeColor);
  width: max-content;
  height: max-content;
  padding: 1rem;
  border-radius: calc(1rem / 2);
  border: 1px solid var(--primary-themeColor);
  visibility: hidden;
  transition: all 300ms;
}

.progress-area:hover .progress-tooltip {
  visibility: visible;
}

.send-button {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  height: max-content;
  border-radius: calc(1rem / 4);
  background-color: var(--primary-themeColor);
  font-weight: bold;
  cursor: pointer;
  transition: box-shadow 100ms;
}

.send-button:disabled {
  background-color: lightgrey !important;
  color: grey !important;
  box-shadow: 0px 0px 0px black !important;
  cursor: not-allowed;
}

.send-button:hover {
  background-color: limegreen;
  color: white;
  box-shadow: 5px 5px 0px 1px black;
}

.send-button:active {
  box-shadow: 0px 0px 0px 1px black;
}

.wrong-answer {
  color: var(--danger-primary);
}

.correct-answer {
  color: var(--success-primary);
  font-weight: bold;
}
