main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90% 5% 5%;
    height: 100%;
    width: 100%;
    padding: 2rem;
    justify-content: space-between;
    justify-items: center;
    align-items: center;

    background-color: var(--secondary-blue);
}

.card {
    height: fit-content;
    max-height: 100%;
    width: 100%;

    overflow-y: auto;

    border-radius: 1.5rem;

    background-color: var(--primary-white);
    box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);

    /* Hide scrollbar for IE, Edge and Firefox */
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.card::-webkit-scrollbar {
    display: none;
}

.topbar-card {
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: end;

    background-color: var(--primary-blue);
    color: var(--primary-white);

    padding-left: 1rem;
    padding-right: 1rem;

    position: sticky;
    /* Safari */
    position: -webkit-sticky;
    top: 0;
}

.card-content {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    height: calc(100% - 50px);
}

.card-content ol {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
}

.question {
    flex-direction: column;
    gap: 1rem;
    transition: opacity 200ms linear, visibility 200ms linear;
}

.question small {
    margin-left: auto;
}

.question::after {
    content: ' ';
    display: block;
    position: relative;
    height: 2px;
    width: 100%;
    background-color: var(--secondary-white);
}

.answers-options {
    list-style-type: upper-alpha;
    padding-left: 2rem;
}

.answers-options li label {
    margin-left: 0.5rem;
}

.answers-options li::marker {
    font-weight: bold;
}

.select {
    margin-left: auto;
}

.visible-question {
    display: flex;
}

.hidden-question {
    display: none;
}

.btn {
    padding: 0.25rem 0.5rem;

    height: 2.5rem;
    width: 8rem;

    border: 0;
    border-radius: 0.5rem;

    font-size: 15px;
    font-weight: bold;

    background-color: var(--primary-blue);
    color: var(--primary-white);

    cursor: pointer;
}

small {
    font-weight: lighter;
}

.select {
    position: relative;
    display: inline;
}

.select select {
    border: 0;
    position: relative;
    background: transparent;
    color: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    padding: 0rem 1rem;
    cursor: pointer;
}

.select::after {
    content: '';
    position: absolute;
    background-color: var(--primary-white);
    height: 2px;
    width: 46%;
    left: 54%;
    top: 100%;
    margin-right: 20%;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.select:hover::after {
    transform: scaleX(1);
}

.select option {
    color: var(--primary-black);
}